/* .log{
    display: flex;
    gap: 10px;
    
}
.btn{
        border: none;
        padding: 2px;
        background-color: white;
    }
    .btn:hover{
        color: #ff0101;
     border-bottom: 2px solid #ff0101;
    } */