
.navbar {
  width: 100%;
  background: #0b1b36; 
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: fixed !important; */
  z-index: 1000;
}


.logo .sub {
  font-weight: 400;
  font-size: 14px;
  margin-left: 5px;
  color: #aaa;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links li {
  position: relative;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links li:hover a {
  color: #ff1e1e;
}

.nav-links li.active a {
  color: #ff1e1e;
}

.nav-links li.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: #ff1e1e;
}
.appLogo{
  height: 65px;
    width: 90px;
}
.menu-icon {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
        top: 60px;
        right: -100%;
        background: #0b1b36;
        flex-direction: column;
        /* gap: 50px; */
        padding: 20px;
        width: 200px;
        transition: 0.3s;
        border-radius: 6px;
        z-index: 999;
        width: 100%;
        display: flex;
        align-content: space-around;
        justify-content: center !important;
        align-items: center;
  }
.navbar{
    padding: 0 15px;

}
  .nav-links.open {
    right: 0px;
  }
}
