
.buy-rent-section h5 {
  letter-spacing: 2px;
  color: #7c7895;
  font-weight: 200;
}

.option {
  flex: 1;
  width: 100%;
  height: 447px;
  background-size: cover;
  background-position: center;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  overflow: hidden;
  transform-origin: center;
}

.option h2 {
  position: relative;
  z-index: 2;
  font-size: 2.5rem;
  letter-spacing: 1px;
  color: #fff;
  transition: color 0.3s ease-in-out;
}

.option:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.buy:hover h2 {
  color: #ff1e1e !important;
}

.rent:hover h2 {
  color: #0a1a33 !important;
}

.buy {
  background-image: url("../../assets/buy.jpg");
}

.buy::after,
.rent::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.buy::after {
  background: rgba(20, 40, 70, 0.8);
}

.rent {
  background-image: url("../../assets/rent.avif");
}

.rent::after {
  background: rgba(220, 50, 50, 0.7);
}

@media (max-width: 768px) {
  .option {
    height: 200px;
  }

  .option h2 {
    font-size: 1.8rem;
  }

  .buy-rent-section {
    margin-top: 3rem;
  }
}

.row.g-0 {
  gap: 20px;
  justify-content: center;
}
