.hero-section {
  position: relative;
  height: 60vh; 
  /* background: url("https://static.wixstatic.com/media/82fcd3_7074b1dcfa364fd9a597a3e573ddc7dd~mv2_d_3000_2000_s_2.jpg/v1/fill/w_1336,h_250,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/82fcd3_7074b1dcfa364fd9a597a3e573ddc7dd~mv2_d_3000_2000_s_2.jpg") center/cover no-repeat; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 20, 40, 0.6); 
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  color: #fff;
  z-index: 2;
}

.sub-title {
  font-size: 18px;
  letter-spacing: 8px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 200;
}

.main-title {
  font-size: 48px;
  font-weight: bold;
}
