.clients-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-box {
  position: absolute;
  bottom: 15%; 
  left: 50%;
  transform: translateX(-50%);
  width: 75%;   
  height: 250px; 
  background: rgba(0, 20, 60, 0.9);
  padding: 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.custom-indicators {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 6px;
}

.custom-indicators span {
  display: inline-block;
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
}
