.user__form{
    max-width: 500px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}
button{
    border: 1px solid rgba(126, 57, 57, 0.3);
    padding: 5px;
    border-radius: 5px;
     /* width: 70px; */
}
.inp{
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 5px;
}
.con{
    width: 100%;
    margin: auto;
    border-radius: 10px;
}
label{
    text-align: start;
}
.sign-btn{
    background-color: #ff0101;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;

}
.sign-btn:hover{
    background-color: rgba(220, 50, 50, 0.7) !important;
    color: #fff !important;
}