.custom-input {
  border-radius: 30px;
  padding: 12px 18px;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
}

.custom-input:focus {
  border-color: #0b1b36;
  box-shadow: 0 0 6px rgba(3, 18, 99, 0.2);
}

.custom-textarea {
  border-radius: 20px;
  padding: 15px 18px;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
  resize: none;
}

.custom-textarea:focus {
  border-color: #0b1b36;
  box-shadow: 0 0 6px rgba(3, 18, 99, 0.2);
}

.custom-btn {
  border-radius: 30px;
  padding: 12px 30px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  background-color: #ff0101;
  border: 0;
}
.custom-btn:hover{
    background-color: rgba(220, 50, 50, 0.7) !important;
}
.custom-btn:hover {
  background-color: #333;
  transform: translateY(-2px);
}
.contact-us{
    color: #0b1b36;
}