.scroll-to-top {
  position: fixed;   
  bottom: 30px;      
  right: 30px;       
  background: #ff0101;
  color: #fff;
  border: none;
  padding: 12px 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  z-index: 1000;     
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  transition: opacity 0.3s ease-in-out;
  opacity: 0.8;
}

.scroll-to-top:hover {
  opacity: 1;
  background: #ff0101;
}
